<h2 class="text-center text-big">Posts</h2>
<div class="header d-flex space-between align-center">
    <span>Total : <% len %></span>
    <button type="button" class="btn" id="add">글쓰기</button>
</div>
<div class="article-header d-flex">
    <p class="flex-5 text-center">제목</p>
    <p class="flex-1 text-center">작성일</p>
    <p class="flex-2 text-center">관리</p>
</div>
<hr>
<ul class="article-body">
    <% data.forEach(post => { %>
    <li class="d-flex space-between align-center my-1">
        <div class="d-flex flex-4 space-between align-center">
            <p class="title"><a href="#"><%= post.title %></a></p>
            <p class="wr_date mr-1 text-small"><%= post.createdAt.toLocaleString('ko-kr',{
                year: '2-digit',
                month: '2-digit',
                day: '2-digit'
            }) %></p>
        </div>
        <div class="flex-1">
            <button type="button" class="btn btn-dark">수정</button>
            <button type="button" class="btn">삭제</button>
        </div>
    </li>
    <% }) %>
</ul>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const addBtn = document.querySelector("#add")
        addBtn.addEventListener("click", ()=> {
            location.href = "/add"
        })

    })
</script>