<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
    
    
</head>
<body>
    <header class="header d-flex space-between">
        <nav class="header__nav">
            <ul class="d-flex gap-1">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__logo"><%= header%></div>
        <div class="header__btn">
            <button id="admin_login">Admin</button>
        </div>
    </header>
    <div class="hero">
        <img src="images/hero-title.png" alt="사이트이미지">
    </div>
    <main class="main">
        <div class="container">
            <%- body %>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__top d-flex space-between">
            <div class="copy">
                <p>&copy; 2024 My Site</p>
            </div>
            <div class="brand">
                Developer's Guide
            </div>
            <div class="buy">
                <button>Purchase now</button>
            </div>
        </div>
        <hr>
        <div class="footer__bottom d-flex space-between">
            <nav class="footer__nav">
                <ul class="d-flex gap-1">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__icon">
                <ul class="d-flex gap-1">
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="script/main.js"></script>
</body>
</html>