@charset "utf-8";
:root{
    --primary-text-color: #505f98;
    --secondary-text-color: #ffffff;
    --primary-bg-color: #f1f1f1;
    --secondary-bg-color: #111b47;
    --third-bg-color: #e7ecff;
    --danger-bg-color: red;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}
body{
    font-size: .8rem;
    color: #333;
}
ul, ol{
    list-style: none;
    margin: 0;
}
a, a:link{
    color: inherit;
    text-decoration: none;
}
form, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
legend {
    display: none;
}
input, textarea {
    font-weight: 100;
}
textarea {
    resize: none;
}

/* flex */
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-items: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
.flex-5{
    flex: 5;
}

.gap-1{
    gap: 1rem;
}
.gap-2 {
    gap: 2rem
}
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mr-1 {
    margin-right: 1rem;
}
.text-center {
    text-align: center;
}
.align-center{
    align-items: center;
}
.text-big{
    font-size: 1.5rem !important
}
.text-normal{
    font-size: .8rem;
}
.text-small{
    font-size: .5rem;
}
.text-underlined {
    text-decoration: underline;
}
.text-bold {
    font-weight: bold;
}

/*header*/
.header {
    padding: 1rem;
    color: var(--primary-text-color);
}
.header__logo{
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: -1px;
    order: 1;
}
.header__nav{
    order: 0;
}
.header__btn{
    order: 2;
}
.header__btn button{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    width: 8rem;
    height: 1.3rem;
    border-radius: .5rem;
}
.hero img{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

/*main*/
.main .container{
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem 0;
}
.container > h1 {
    font-size: .8rem;
}
.container > h2 {
    font-size: .725rem;
    font-weight: normal;
}
#admin.login_form fieldset{
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}
#user_id, #user_pw, #user_pw2 {
    width: 100%;
    padding: .5rem 1rem;
    margin: .25rem 0;
}
.screen_out{
    position: absolute;
    width: 0;
    height: 0;
    left: -9999px;
}
.btn {
    border: 0;
    padding: .5rem 1rem;
}
.btn-light {
    background-color: var(--primary-bg-color);
}
.btn-dark {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
}
.btn-delete:hover {
    background-color: var(--danger-bg-color);
    color: var(--secondary-text-color);
}
.btn-admin {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
/*home*/
.border-bottom {
    border-bottom: 1px solid #333;
}
.article-body li:hover {
    color: var(--primary-text-color);
    font: bold;
}
.article-body li::before {
    content: '\003e';
}
/*footer*/
.footer{
    padding: 1rem;
    background-color: var(--third-bg-color);
}
.footer hr{
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background: var(--secondary-bg-color);
}
.buy button{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    width: 5.5rem;
    height: 1.3rem;
    border-radius: .5rem;
}